<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<form action="addSong" method="post">
<label>Song name</label>
<input type="text" name="name" required /><br>

<label>Song artist</label>
<input type="text" name="artist" required /><br>

<label>Song genre</label>
<input type="text" name="genre" required /><br>

<label>Song link</label>
<input type="text" name="link" required /><br>
<input type="submit" value="Add Song" class="" />
</form>
</body>
</html>