<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<h1>Register here!</h1>
<form action="register" method="post">
<label>UserName</label><br>
<input type="text" name="username" placeholder="Enter the name here" required/><br>

<label>Email</label><br>
<input type="email" name="email" placeholder="Enter the email here" required/><br>

<label>Password</label><br>
<input type="password" name="password" placeholder="Enter the password here" required/><br>

<label>Gender</label><br>
<input type="radio" name="gender" value="male"/>Male<br>
<input type="radio" name="gender" value="female"/>Female<br>
<input type="radio" name="gender" value="other"/>Other<br>

<label>Role</label><br>
<input type="radio" name="role" value="admin"/>Admin<br>
<input type="radio" name="role" value="customer"/>Customer<br>

<label>Addres</label><br>
<textarea name="addres" placeholder="Enter the adderss" required></textarea><br>

<input type="submit" value="register"/>

</form>
</body>
</html>